<html lang="en">
	<head>
		<meta charset="utf-16">
		<meta name="viewport" content="width=device-width initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Cache-control" content="public">
 		<link rel="stylesheet" href="css/material.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/fonts.css">
		<title>{{info.nombre}} | {{info.etiqueta}} </title>
		<!-- Open Graph-->
		<!--if lt IE 9script(src='//html5shim.googlecode.com/svn/trunk/html5.js') -->
	</head>
	<body> 
		<nav>
			<ul class="sidenav sidenav-fixed section table-of-contents">
				<div class="user-view">
					<a href="#intro">
						<img alt="" src="/img/{{info.img}}" class="responsive-img center-block">
						<span class="blue-text center name">{{info.nombre}}</span>
						<span class="blue-text center  email">{{info.etiqueta}}</span>
					</a>
				</div>
				<li class=" bold">
					<a href="#about" class="itemScroll waves-effect waves-dark teal-text">
						<i class=" blue-text icon-about" ></i><span class="blue-text">Sobre mi</span>
					</a>
				</li>
				<li class="bold">
					<a href="#projects" class="itemScroll waves-effect waves-dark teal-text">
						<i class=" blue-text icon-portfolio"></i><span class="blue-text">Portafolio</span>
					</a>
				</li>
				<li class="bold">
					<a href="#skills" class="itemScroll waves-effect waves-dark teal-text">
						<i class=" blue-text icon-skills"></i><span class="blue-text">Habilidades</span>
					</a>
				</li>
				<li class="bold">
					<a href="#education" class="itemScroll waves-effect waves-dark teal-text">
						<i class=" blue-text icon-education"></i><span class="blue-text">Educación</span>
					</a>
				</li>
				<li class="bold">
					<a href="#experience" class="itemScroll waves-effect waves-dark teal-text">
						<i class=" blue-text icon-experience"></i><span class="blue-text">Experiencia</span>
					</a>
				</li>
				<li class="bold">
					<a href="#actvities" class="itemScroll waves-effect waves-dark teal-text">
						<i class=" blue-text icon-comunity"></i><span class="blue-text">Actividades</span>
					</a>
				</li>
				<li class="bold">
					<a href="#contact" class="itemScroll waves-effect waves-dark teal-text">
						<i class=" blue-text icon-contact"></i><span class="blue-text">Contacto</span>
					</a>
				</li>
				<!-- 				
				<li class="bold">
					<a href="#" class="itemScroll waves-effect waves-dark teal-text">
						<i class=" blue-text fa fa-file"></i><span class="blue-text">CV</span>
					</a>
				</li> 
				-->
			</ul>
		</nav>
		<nav class="hide-on-large only trigger z-depth-1">
			<a href="#" data-target="slide-out" class="blue-text sidenav-trigger">
				<i class="icon-menu"></i>
			</a>
			<a href="#intro" class="name-title">

				<span id="name"  class="teal-text">{{info.nombre}}</span>
				<span class="blue-text  ">{{info.etiqueta}}</span>
			</a>
		</nav>
		<nav>
			<ul id="slide-out" class="sidenav sidenav-mobile" >
				<li class="bold">
					<a href="#about" class="itemScroll waves-effect waves-dark teal-text">
						<i class="blue-text icon-about" ></i><span class="blue-text">Sobre mi</span>
					</a>
				</li>
				<li class="bold">
					<a href="#projects" class="itemScroll waves-effect waves-dark teal-text">
						<i class="blue-text icon-portfolio"></i><span class="blue-text">Portafolio</span>
					</a>
				</li>
				<li class="bold">
					<a href="#skills" class="itemScroll waves-effect waves-dark teal-text">
						<i class="blue-text icon-skills"></i><span class="blue-text">Habilidades</span>
					</a>
				</li>
				<li class="bold">
					<a href="#education" class="itemScroll waves-effect waves-dark teal-text">
						<i class="blue-text icon-education"></i><span class="blue-text">Educación</span>
					</a>
				</li>
				<li class="bold">
					<a href="#experience" class="itemScroll waves-effect waves-dark teal-text">
						<i class="blue-text icon-experience"></i><span class="blue-text">Experiencia</span>
					</a>
				</li>
				<li class="bold">
					<a href="#actvities" class="itemScroll waves-effect waves-dark teal-text">
						<i class="blue-text icon-comunity"></i><span class="blue-text">Actividades</span>
					</a>
				</li>
				<li class="bold">
					<a href="#contact" class="itemScroll waves-effect waves-dark teal-text">
						<i class="blue-text icon-contact"></i><span class="blue-text">Contacto</span>
					</a>
				</li>
				<!--	 			
				<li class="bold">
					<a href="#" class="itemScroll waves-effect waves-dark teal-text">
						<i class="fa fa-file icon-menu-sm" ></i><span class="blue-text">CV</span>
					</a>
				</li> 
				-->
			</ul>
		</nav>
		<main>
			<section id="intro" class="section scrollspy full-height">
				<div class="overlay"></div>
				<div class="container">
					<h2>{{info.titulo|safe}}</h2>
				</div>
			</section>
			<section id="about" class="section scrollspy full-height">
				<h3 class="page-title white-text teal">Sobre mi</h3>
				<div class="container about-text">
					<blockquote>
						<h2>{{info.sobremi_titulo}}</h2>
					</blockquote>
					{{info.sobremi_descripcion|safe}}
				</div>
			</section>
			<section id="projects" class="section scrollspy full-height">
				<h3 class="page-title white-text teal page-title-projects">Portafolio</h3>
				
				<div class="nav-content filter-des">
					<ul class="tabs">
						<li class="tab"><a class="active" onclick="changecategory(this)" >Todos</a><span class="badge todos">0</span></li>
						<li class="tab"><a onclick="changecategory(this)">Frontend</a><span class="badge frontend">0</span></li>
						<li class="tab"><a onclick="changecategory(this)">Backend</a><span class="badge backend">0</span></li>
						<li class="tab"><a onclick="changecategory(this)">Mobile</a><span class="badge mobile">0</span></li>
						<li class="tab"><a onclick="changecategory(this)">Electronica</a><span class="badge electronica">0</span></li>
						<li class="tab"><a onclick="changecategory(this)">Diseño</a><span class="badge diseño">0</span></li>
					</ul>
				</div>
				
				<div id="items" class="container">
					 <div class="input-field">
						<input id="search" type="search" onkeyup="filterItems()"  autocomplete="off">
			        	<label class="label-icon blue-text darken-2 " for="search">
							<i class="icon-search"></i>
							
						</label>
						<span class="badge search">0</span>
					 </div>
					<div class="flex list">						
						{% for item in info.portafolio %}
						<div class="card card-project card-project-active medium" 
							data-cat="{{item.categoria}}" 
							data-des="{{ item.descripcion }}" 
							data-title="{{item.original}}">
							<div class="card-image waves-effect waves-block waves-">
								<a href="{{item.link}}" target="_blank">
									<img alt="" src="/img/{{item.gif}}" class="item_gif activator">
									<img alt="" src="/img/{{item.img}}" class="item_img activator">	
								</a>									
							</div>
							<div class="card-content">
								<span class=" card-title activator teal-text hoverline item_title">
									<span>{{item.nombre|safe}}</span>
									<i class="icon-up right"></i>
								</span>
							</div>
							<div class="card-reveal">
								<span class="card-title blue-text ">Descripción<i class=" icon-down right"></i></span>
								<p class="descripcion">{{item.descripcion}}</p>
								<div>
									{% for tag in item.etiquetas %}	
									<i class="{{tag}} tag"></i>
									{% endfor %}
								</div>
								<div class="card-action">
									{% for ext in item.externos %}	
									<a href="{{ext.link}}" target="_blank" data-position="top" class="btn-floating blue darken-2 ">
										<i class="{{ext.icon}}"></i>
									</a>
									{% endfor %}
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="center">
						<a id="seeMoreProjects" data-position="top" data-section="project-active" class="more btn-floating blue darken-2" onclick="seeMore(this)">
							<i class="icon-down"></i>
						</a>	
						<a id="seeLessProjects" data-position="top" data-section="project-active" class="less btn-floating blue darken-2 d-none" href="#projects" onclick="seeMore(this)">
							<i class="icon-up"></i>
						</a>						
					</div>
				</div>

			</section>
			<section id="skills" class="section scrollspy full-height">
				<h3 class="page-title white-text teal">Habilidades</h3>
				<div id="habilidades">
					<div class="container list">
						{% for habilidades in info.habilidades %}
						<div class="card card-skill" data-id="{{ loop.index }}">
							<div class="card-content">
								<h4 class="blue-text  liht name">{{habilidades.categoria}}</h4>
								<div class="skill-group ">
									{% for elm in habilidades.elementos %}
									<div class="img-skill-content progreso progreso-{{elm.nivel}}">
										<img alt="" src="/img/{{elm.img}}" class="img-skill">{{elm.nombre}}
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="center">
					<a data-position="top" data-section="skill" class="more btn-floating blue darken-2" onclick="seeMore(this)">
						<i class="icon-down"></i>
					</a>	
					<a data-position="top" data-section="skill" class="less btn-floating blue darken-2 d-none" href="#skills" onclick="seeMore(this)">
						<i class="icon-up"></i>
					</a>						
				</div>
			</section>
			<section id="education" class="section scrollspy full-height">
				<h3 class="page-title white-text teal">Educación</h3>
				<div class="container">
					<div class="row">
						{% for educacion in info.educacion %}
						<div class="col s12 m6">
							<div class="card">
								<div class="card-content">
									<a href="{{educacion.url}}" target="_blank"><img alt="" src="/img/{{educacion.img}}" class="responsive-img center-block"></a>	

									<p><span class="card-title"><a href="{{educacion.url}}" class="teal-text hoverline">{{educacion.universidad}}</a></span></p>
									<p class="blue-text ">
										{{educacion.locacion}} | {{educacion.fecha_inicio|date('Y')}} - {{educacion.fecha_fin|date('Y')}}</p>
									<ul>
										<li>{{educacion.grado}} en {{educacion.carrera}}</li>
									</ul>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</section>			
			<section id="experience" class="section scrollspy full-height">
				<h3 class="page-title white-text teal">Experiencia</h3>
				<div id="experiencia">
					<div class="container list">
						{% for exp in info.experiencia %}
						<div class="card card-experience" data-id="{{loop.index}}">
							<div class="card-content">
								<div class="row">
									<div class="col s12 m2">
										<a href="{{exp.url}}" target="_blank">
											<img alt="" src="/img/{{exp.img}}" class="responsive-img center-block">
										</a>
									</div>
									<div class="col s12 m10">
										<p><span class="card-title"><a href="{{exp.url}}" target="_blank" class="teal-text hoverline name">{{exp.empresa|safe}}</a></span></p>
									</div>
								</div>
								<div class="role blue-text ">{{exp.cargo|safe}}</div>
								<p><em class="grey-text">{{exp.descripcion}}</em></p>
								<ul>
									{% for func in exp.funciones %}
									<li>{{ func }}</li>
									{% endfor %}
								</ul>
								<h6>Logros</h6>
								<ul>
									{% for logro in exp.logros %}
									<li>{{logro}}</li>
									{% endfor %}
								</ul>
							</div>
							<div class="card-action"><span>
								{{exp.fecha_inicio|date('F Y')}} - 
								{% if exp.fecha_fin == "Actualidad" %}
	 								{{ "Actualidad" }}
								{% else %}		
	  								{{exp.fecha_fin|date('F Y')}}
								{% endif %} |  {{exp.locacion}}</span></div>
						</div>
						{% endfor %}
					</div>
				</div>	
				<div class="center">
					<a data-position="top" data-section="experience" class="more btn-floating blue darken-2" onclick="seeMore(this)">
						<i class="icon-down"></i>
					</a>	
					<a data-position="top" data-section="experience" class="less btn-floating blue darken-2 d-none" href="#experience" onclick="seeMore(this)">
						<i class="icon-up"></i>
					</a>						
				</div>						
			</div>
			</section>
			<section id="actvities" class="section scrollspy full-height">
				<h3 class="page-title white-text teal">Comunidades</h3>
				<div class="container">				
					{% for com in info.comunidades %}
					<div class="card">
						<div class="card-content">
							<div class="row">
								<div class="col s12 m2"><a href="{{com.url}}" target="_blank"><img alt="" src="/img/{{com.img}}" class="responsive-img center-block"></a></div>
								<div class="col s12 m10">
									<p><span class="card-title"><a href="{{com.url}}" target="_blank" class="teal-text hoverline">{{com.empresa|safe}}</a></span></p>
								</div>
							</div>
							<div class="role blue-text ">{{com.cargo|safe}}</div>
							<p><em class="grey-text">{{com.descripcion}}</em></p>
							<ul>
								{% for func in com.funciones %}
								<li>{{ func }}</li>
								{% endfor %}
							</ul>
						</div>
						<div class="card-action"><span>
							{{com.fecha_inicio|date('F Y')}} - 
							{% if com.fecha_fin == "Actualidad" %}
 								{{ "Actualidad" }}
							{% else %}		
  								{{com.fecha_fin|date('F Y')}}
							{% endif %} |  {{com.locacion}}</span></div>
					</div>
					{% endfor %}
				</div>
			</section>
			<section id="contact" class="section scrollspy full-height">
				<h3 class="page-title white-text teal">Contacto</h3>
				<div class="container">
					{% for red in info.contacto %}
					<p>
						<a href="{{red.link}}"  target="_blank" data-position="top"  class="btn-floating btn-large waves-effect waves- blue darken-2 ">
							<i class="{{red.icon}}"></i>
						</a>
						<a href="{{red.link}}"  target="_blank" class="hoverline">{{red.etiqueta}}</a>
					</p>
					{% endfor %}
				</div>
			</section>
		</main>
		<script src="/js/material.js"></script>
		<script>
		
		document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('.sidenav');
			var sidenavs = M.Sidenav.init(elems, {
				menuWidth: 190, 
				edge: 'left', 
				closeOnClick: true 
			});
		});
		
		var sections = {};
		var totalItemsActives = document.querySelectorAll('.card-project-active').length;
		var limite_inicial = 2
		var category = 'todos'

		function getOffsetTops(){
			var section = document.querySelectorAll(".scrollspy");
			Array.prototype.forEach.call(section, function(e) {
				sections[e.id] = e.offsetTop;
			});
		}

		var projects = document.querySelectorAll('.card-project')
		document.querySelectorAll('.badge.todos')[0].innerText = projects.length
		for (var i = 0; i < projects.length; i++) {
			let cat = projects[i].getAttribute("data-cat")
			let elem = document.querySelectorAll(`.badge.${cat}`)
			elem[0].innerText = parseInt(elem[0].innerText)+1

		}

		ocultarItems('.card-project',1)
		ocultarItems('.card-skill',1)
		ocultarItems('.card-experience',1)
		getOffsetTops()

		function changecategory(evt){
			let categories = evt.parentNode.parentNode.children
			for (var i = 0; i < categories.length; i++) {
				categories[i].children[0].classList.remove('active');
			}
			evt.classList.add("active")
			category = evt.text.toLowerCase();	
			filterItems()
		}

		function filterItems() {
			mostrarProjects()
			filterCategory()
			filterContent()
			filterShow()
			statusButtonLessMore()
			getOffsetTops()
			 
		}	

		function filterCategory() {
			ocultarProjects()
			if( category =='todos') {
				mostrarProjects()
			}else {
				let items = document.querySelectorAll('.card-project')
				for (var i = 0; i < items.length; i++) {	
					if(items[i].getAttribute("data-cat") == category) {
						items[i].classList.remove('d-none')
						items[i].classList.add('card-project-active')	
					}
				}
			}
			totalItemsActives = document.querySelectorAll('.card-project-active').length;
		}

		function filterContent() {
			
			let value = document.getElementById("search").value.toString().toLowerCase();
			
			projectList = document.querySelectorAll('.card-project-active')
			for (var i = 0; i < projectList.length; i++) {
			
				projectList[i].classList.add('d-none')
				projectList[i].classList.remove('card-project-active')
					
				let title = projectList[i].getAttribute("data-title").toLowerCase()
				let cat = projectList[i].getAttribute("data-cat").toLowerCase()
				let des = projectList[i].getAttribute("data-des").toLowerCase()
				
				if( cat.includes(value) || title.includes(value) || des.includes(value)) {
					projectList[i].classList.add('card-project-active')
					projectList[i].classList.remove('d-none')
				}
			}
			totalItemsActives = document.querySelectorAll('.card-project-active').length;
		}

		function filterShow() {
			if ( document.getElementById('seeMoreProjects').classList.contains('d-none')){
				mostrarItems('.card-project-active')
			
			}else if (document.getElementById('seeLessProjects').classList.contains('d-none')){
				ocultarItems('.card-project-active',1)
			}
		}

		function statusButtonLessMore() {
			document.getElementById('seeMoreProjects').parentNode.classList.remove('d-none')
			if ( totalItemsActives <= 2) {
				document.getElementById('seeMoreProjects').parentNode.classList.add('d-none')
			}
			document.querySelectorAll('.badge.search')[0].innerText = totalItemsActives
		}
	
		function seeMore(button) {
			button.parentNode.children[0].classList.toggle('d-none')
			button.parentNode.children[1].classList.toggle('d-none')
			let selector = '.card-' + button.getAttribute("data-section")
			if( button.classList.contains('more') ) {
				mostrarItems(selector)
			}else if (button.classList.contains('less')) {
				ocultarItems(selector,1)
			}			
			getOffsetTops()
		}

		function ocultarProjects() {
			let items = document.querySelectorAll('.card-project')
			for (var i = 0; i < items.length; i++) {
				items[i].classList.remove('card-project-active')
				items[i].classList.add('d-none')	
			}
		}

		function mostrarProjects() {
			let items = document.querySelectorAll('.card-project')
			for (var i = 0; i < items.length; i++) {
				items[i].classList.add('card-project-active')
				items[i].classList.remove('d-none')		
			}
		}

		function ocultarItems(selector,number)  {
			var elements = document.querySelectorAll(selector);
			elements.forEach( (element,index) => {
				element.classList.remove('d-none')
				if( index > number) {
					element.classList.add('d-none')
				}
			})
		}

		function mostrarItems(selector)  {
			var elements = document.querySelectorAll(selector);
			elements.forEach( (element,index) => {
				element.classList.remove('d-none')
			})
		}

		window.onscroll = function() {
			var scrollPosition = document.documentElement.scrollTop || document.body.scrollTop;
			for (i in sections) {
				if (sections[i] <= scrollPosition + screen.height/2 ) {
					document.querySelector('.itemScroll.active') && document.querySelector('.itemScroll.active').classList.remove('active')
					document.querySelector('a[href="#' + i + '"]') && document.querySelector('a[href="#' + i + '"]').classList.add('active')
				}
			}
		};

		</script>
	</body>
</html>