<html lang="en">

<head>
	<meta charset="utf-16">
	<meta name="viewport" content="width=device-width initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Cache-control" content="public">
	<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
	<!-- <link rel="stylesheet" href="/css/materialclean.css"> -->
	<link rel="stylesheet" href="/css/app.css">
	<title>{{info.nombre}} | {{info.etiqueta}} </title>
	<!-- Open Graph-->
	<!--if lt IE 9script(src='//html5shim.googlecode.com/svn/trunk/html5.js') -->
</head>

<body>

	<nav class="bg-white shadow-md fixed h-16 w-full z-20 lg:hidden flex justify-between items-center p-4">
		<a href="#about" class="name-title">
			<img alt="" src="/img/{{info.img}}" class="w-10 h-10">
		</a>

		<a href="#about" class="name-title">
			<img alt="" src="/img/logosquare.svg" class="w-10 h-10">
		</a>
		
		<a id="menu-mobile-icon" class="text-3xl text-blue">
			<i class="icon-menu"></i>
		</a>
	</nav>

	<nav id="menu" class="bg-white shadow-md w-full inset-0 z-30 ml-screen lg:ml-0 fixed lg:w-64 h-full transition-all duration-500 ease-in-out">
		<div class="flex flex-col h-full xxl:max-h-3/4">
			<div class="m-4">
				<a class="flex flex-col items-center" href="#about">
					<img class="w-4/12 lg:w-3/4 mb-2" alt="" src="/img/{{info.img}}" class="mb-4">
					<h2 class="font-bold text-center text-blue name">{{info.nombre}}</h2>
					<h1 class="font-bold text-center text-blue email">{{info.etiqueta}}</h1>
				</a>
			</div>
			<ul class="md:pb-4 lg:pb-6">
				{% for itemMenu in info.menu %}
					<li class="text-center p-2 lg:p-2 font-bold itemMenu">
						<a href="{{itemMenu.href}}" class="itemScroll text-blue ">
							<i class="text-2xl mr-4 {{itemMenu.icon}}"></i><span class="">{{itemMenu.title}}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<a id="close-mobile-icon" class="absolute top-0 right-0 p-4 text-blue lg:hidden text-2xl">
			<i class="icon-cross"></i>
		</a>
	</nav>
	
	<main class="pt-16 lg:pt-0  lg:ml-64 cuadricula relative right-0 overflow-hidden">
		
		<section class="scrollspy min-h-screen" id="about">
			<h3 class="bg-blue font-bold text-white p-2 pl-8 mb-6 text-2xl ">Sobre mi</h3>
			<div class="p-6">

				<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 xxl:grid-cols-4 xxxl:grid-cols-5 gap-6 mt-2">
					{% for card in info.about_cards %}
					<div class="bg-white p-6 shadow-md flex flex-col items-center">
						<img class="w-7/12 mb-4 rounded" src="/img/{{card.image}}"/>
						<h3 class="font-bold text-blue text-lg text-center">{{card.title}}</h3>
						<p class="">{{card.content}}</p>
					</div>
					{% endfor %}
				</div>
				<h2 class="font-bold text-darkBlue my-3 text-xl">Contacto:</h2>
				<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 xxl:grid-cols-4 xxxl:grid-cols-5 gap-6 mt-2 mb-4">
					{% for red in info.contacto %}
					<a href="{{red.link}}" target="_blank" class="bg-white p-4 shadow-md flex justify-center items-center">
						<span class="text-blue text-3xl"><i class="{{red.icon}}"></i></span>
						<span class="ml-2">{{red.etiqueta}}</span>
					</a>
					{% endfor %}
				</div>

			</div>
		</section>
		<section class="scrollspy min-h-screen" id="projects">
			<h3 class="bg-blue font-bold text-white p-2 pl-8 mb-6 text-2xl page-title-projects">Portafolio</h3>
			<div class="p-6">

				<!-- <div class="flex">
					<ul class="flex justify-around w-full">
						<li class="bg-white px-4 py-1 border-solid border-2 border-blue rounded-lg cursor-pointer">
							<a onclick="changecategory(this)" class="active">Todos</a>
							<span class="badge todos">0</span>
						</li>
						<li class="bg-white px-4 py-1 border-solid border-2 border-blue rounded-lg cursor-pointer">
							<a onclick="changecategory(this)">Frontend</a>
							<span class="badge frontend">0</span>
						</li>
						<li class="bg-white px-4 py-1 border-solid border-2 border-blue rounded-lg cursor-pointer">
							<a onclick="changecategory(this)">Backend</a>
							<span class="badge backend">0</span>
						</li>
						<li class="bg-white px-4 py-1 border-solid border-2 border-blue rounded-lg cursor-pointer">
							<a onclick="changecategory(this)">Mobile</a>
							<span class="badge mobile">0</span>
						</li>
						<li class="bg-white px-4 py-1 border-solid border-2 border-blue rounded-lg cursor-pointer">
							<a onclick="changecategory(this)">Electronica</a>
							<span class="badge electronica">0</span>
						</li>
						<li class="bg-white px-4 py-1 border-solid border-2 border-blue rounded-lg cursor-pointer">
							<a onclick="changecategory(this)">Diseño</a>
							<span class="badge diseño">0</span>
						</li>
					</ul>
				</div> -->
	
				<div id="items" class="">
					
					<!-- <div class="input-field">
						<input id="search" type="search" onkeyup="filterItems()" autocomplete="off">
						<label class="label-icon darken-2 " for="search">
							<i class="icon-search"></i>
						</label>
						<span class="badge search">0</span>
					</div> -->
					
					<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 xxl:grid-cols-5 xxxl:grid-cols-6 gap-6 mt-2">
						{% for item in info.portafolio %}
							<div class="bg-white p-2 shadow-md" data-cat="{{item.categoria}}" data-des="{{ item.descripcion }}" data-title="{{item.original}}">
								<div class="h-full flex flex-col justify-around"> 
									<div class="p-2">
										<a href="{{item.link}}" target="_blank" class="block relative">
											<img alt="" src="/img/{{item.gif}}" class="item_gif absolute inset-0 w-full h-full z-0">
											<img alt="" src="/img/{{item.img}}" class="item_img relative hover:opacity-0 z-10">
										</a>
									</div>
									<div class="card-content">
										<h3 class="font-bold text-darkBlue text-center">
											{{item.nombre|safe}}
										</h3>
										<p class="m-2">{{item.descripcion}}</p>
									</div>
									<div class="mt-2 flex justify-between">
										<div>
											{% for tag in item.etiquetas %}
												<i class="{{tag}} tag text-2xl"></i>
											{% endfor %}
										</div>
										<div class="card-action">
											{% for ext in item.externos %}
												<a href="{{ext.link}}" target="_blank" data-position="top"
													class="btn-floating blue darken-2 ">
													<i class="{{ext.icon}} text-2xl"></i>
												</a>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
					
					<!-- <div class="center">
						<a id="seeMoreProjects" data-position="top" data-section="project-active"
							class="more btn-floating blue darken-2" onclick="seeMore(this)">
							<i class="icon-down"></i>
						</a>
						<a id="seeLessProjects" data-position="top" data-section="project-active"
							class="less btn-floating blue darken-2 d-none" href="#projects" onclick="seeMore(this)">
							<i class="icon-up"></i>
						</a>
					</div> -->

				</div>
			</div>

		</section>
		<section class="scrollspy min-h-screen" id="skills">
			<h3 class="bg-blue font-bold text-white p-2 pl-8 mb-6 text-2xl">Habilidades</h3>
			<div class="p-6" id="habilidades">
				<div class="list">
					{% for habilidades in info.habilidades %}
					<div class="bg-white p-4 shadow-md mx-2 my-4" data-id="{{ loop.index }}">
						<div class="card-content">
							<h4 class="font-bold mb-2 pb-2 border-b-2 border-blue border-opacity-75 text-blue justify-center">{{habilidades.categoria}}</h4>
							<div class="flex justify-center sm:justify-start p-2 flex-wrap">
								{% for elm in habilidades.elementos %}
									<div class="mr-12 -mb-4 img-skill-content progreso progreso-{{elm.nivel}}">
										<img alt="" src="/img/{{elm.img}}" class="img-skill w-16 h-16">
										<p class="font-semibold">{{elm.nombre}}</p>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<!-- <div class="center">
				<a data-position="top" data-section="skill" class="more btn-floating blue darken-2"
					onclick="seeMore(this)">
					<i class="icon-down"></i>
				</a>
				<a data-position="top" data-section="skill" class="less btn-floating blue darken-2 d-none"
					href="#skills" onclick="seeMore(this)">
					<i class="icon-up"></i>
				</a>
			</div> -->
		</section>
		<section class="scrollspy min-h-screen" id="education">
			<h3 class="bg-blue font-bold text-white p-2 pl-8 mb-6 text-2xl">Educación</h3>
			<div class="p-6">
				<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 xxl:grid-cols-4 xxxl:grid-cols-5 gap-6 mt-2">
					{% for educacion in info.educacion %}
						<div class="bg-white p-4 shadow-md">
							<div class="flex justify-between">
								<div class="w-20 h-20">
									<a href="{{educacion.url}}" target="_blank">
										<img alt="" src="/img/{{educacion.img}}" class="">
									</a>
								</div>
								<div class="flex flex-col items-end">
									<h2 class="font-bold">
										<a href="{{educacion.url}}" target="_blank" class="">{{educacion.universidad|safe}}</a>
									</h2>
									<h4>
										{{educacion.fecha_inicio|date('F Y')}} 
										-
										{% if educacion.fecha_fin == "Actualidad" %}
											{{ "Actualidad" }}
										{% else %}
											{{educacion.fecha_fin|date('F Y')}}
										{% endif %}
									</h4>
									<h5>
										{{educacion.locacion}}
									</h5>
								</div>
							</div>
							<h3 class="font-bold my-2 mt-4 text-lg text-center">{{educacion.grado}} en {{educacion.carrera}}</h3>
						</div>
					
					{% endfor %}
				</div>
			</div>
		</section>
		<section class="scrollspy min-h-screen" id="experience">
			<h3 class="bg-blue font-bold text-white p-2 pl-8 mb-6 text-2xl">Experiencia</h3>
			<div class="p-6">
				<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-2 xxl:grid-cols-3 xxxl:grid-cols-4 gap-6">
					{% for exp in info.experiencia %}
					
					{% if exp.principal == "True" %}
						<div class="bg-white p-4 shadow-md md:col-span-2 xxl:col-span-2 xxxl:col-span-3 gap-6" data-id="{{loop.index}}">
					{% else %}
						<div class="bg-white p-4 shadow-md" data-id="{{loop.index}}">
					{% endif %}
						<div class="card-content">
							<div class="flex justify-between">
								<div class="w-20 h-20">
									<a href="{{exp.url}}" target="_blank">
										<img alt="" src="/img/{{exp.img}}" class="">
									</a>
								</div>
								<div class="flex flex-col items-end">
									<h2 class="font-bold">
										<a href="{{exp.url}}" target="_blank" class="">{{exp.empresa|safe}}</a>
									</h2>
									<h4>
										{{exp.fecha_inicio|date('F Y')}} 
										-
										{% if exp.fecha_fin == "Actualidad" %}
											{{ "Actualidad" }}
										{% else %}
											{{exp.fecha_fin|date('F Y')}}
										{% endif %}
									</h4>
									<h5>
										{{exp.locacion}}
									</h5>
								</div>
							</div>
							<h3 class="font-bold my-2 mt-4 text-lg">{{exp.cargo|safe}}</h3>
							<p>{{exp.descripcion}}</em></p>
							<ul class="my-2 ">
								{% for func in exp.funciones %}
								<li>{{ func }}</li>
								{% endfor %}
							</ul>
							{% if exp.logros.length %}
								<h6 class="font-bold mb-2">Logros</h6>
								<ul>
									{% for logro in exp.logros %}
									<li>{{logro}}</li>
									{% endfor %}
								</ul>
							{% endif %}
							<div class="flex flex-col md:flex-row">
								{% for project in exp.projects %}
									<div class="w-full md:w-1/2"> 
										<h4 class="font-bold my-3">
											{{ project.titulo }}
										</h4>
										<p class="my-3">
											{{ project.description }}
										</p>
										<ul class="my-2 ">
											{% for func in project.funciones %}
											<li>{{ func }}</li>
											{% endfor %}
										</ul>
									</div>
								{% endfor %}
							</div>
							
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<!-- <div class="center">
				<a data-position="top" data-section="experience" class="more btn-floating blue darken-2"
					onclick="seeMore(this)">
					<i class="icon-down"></i>
				</a>
				<a data-position="top" data-section="experience" class="less btn-floating blue darken-2 d-none"
					href="#experience" onclick="seeMore(this)">
					<i class="icon-up"></i>
				</a>
			</div> -->
			</div>
		</section>
		<section class="scrollspy min-h-screen" id="actvities">
			<h3 class="bg-blue font-bold text-white p-2 pl-8 mb-6 text-2xl">Actividades</h3>
			<div class="p-6">
				<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 xxl:grid-cols-4 xxxl:grid-cols-5 gap-6 mt-2">
					{% for com in info.comunidades %}
					<div class="bg-white p-4 shadow-md">
						<div class="card-content">
							<div class="flex justify-between">
								<div class="w-20 h-20">
									<a href="{{com.url}}" target="_blank">
										<img alt="" src="/img/{{com.img}}" class="">
									</a>
								</div>
								<div class="flex flex-col items-end">
									<h2 class="font-bold">
										<a href="{{com.url}}" target="_blank" class="">{{com.empresa|safe}}</a>
									</h2>
									<h4>
										{{com.fecha_inicio|date('F Y')}} 
										-
										{% if com.fecha_fin == "Actualidad" %}
											{{ "Actualidad" }}
										{% else %}
											{{com.fecha_fin|date('F Y')}}
										{% endif %}
									</h4>
									<h5>
										{{com.locacion}}
									</h5>
								</div>
							</div>
							<h3 class="font-bold my-2 mt-4 text-lg">{{com.cargo|safe}}</h3>
							<p>{{com.descripcion}}</em></p>
							<ul class="my-2 ">
								{% for func in com.funciones %}
								<li>{{ func }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>

	</main>
	<script src="/js/app.js"></script>
</body>

</html>